@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --primary-color: #FFD1E3;
    --secondary-color: #A367B1;
    --tertiary-color: #5D3587;
    --quaternary-color: #392467;
    --button-color: #de9eec;
    --text-color: white;

    --title-font: 'Inter', sans-serif;
    --normal-font: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    background-color: var(--primary-color);
    box-sizing: border-box;
    font-family: var(--normal-font);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    gap: 2%;
    padding: 5%;
}


.main_textInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border: none;
    resize: none;
    overflow: auto;
    outline: none;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-family: var(--normal-font);
    font-size: 2rem;
}

.main_textInput_warning {
    display: flex;
    padding: 0 0 16px 0;
    gap: 8px;

}

.main_textInput_warning_message_icon {
    width: 20px;
    height: auto;
}

.main_textInput_buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 24px;
    text-align: center;
}

.main_textInput_buttons_action {
    padding: 24px;
    border-radius: 24px;
    width: 50%;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;

}

.main_textInput_buttons_action:hover {
    background-color: var(--tertiary-color);

}

.main_textOutput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2%;
    width: 30%;
    background-color: white;
    border-radius: 32px;
    border: none;
    box-shadow: 0px 10px 25px grey;
}

.main_textOutput_img {
    width: 80%;
    height: auto;
    border-radius: 15%;
    display: none;
}

.main_textOutput_title {
    font-family: var(--normal-font);
    font-weight: 700;
    font-size: 1.5rem;
    display: none;
}

.main_textOutput_text {
    font-family: var(--normal-font);
    font-size: 1rem;
    padding: 0% 2% 0% 2%;
}